.about-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.about-content {
  margin: 10vh auto;
}

.about-content-text {
  width: 90%;
  margin: auto;
  margin-left: 5%;
  font-size: 20px;
}
