.about-container {
    display: flex;
    flex-direction: column;
}

.about-content {
    margin: auto;
}

.about-content-text {
    width: 90%;
    margin: auto;
    margin-left: 5%;
    font-size: 20px;
}
