.awards-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.award-card {
  min-width: 800px;
  width: 100%;
  height: 150px;
  margin: 3% auto;

  background-color: rgba(205, 202, 202, 0.4);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}

.award-card-header {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}

.award-card-description {
  height: 40%;
  width: 85%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
}
