.home-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.home-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-content-container {
  display: flex;
  width: 35%;
}

.home-content {
  height: 600px;
  text-align: left;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  margin-right: 15% ;
}

.name {
  font-size: 36px;
  margin: 15px 0px;
}

.picture-container0 {
  width: 40%;
  text-align: center;
  margin: auto 0px;
  margin-right: 5%;
}

.picture-container1 {
  width: 40%;
  text-align: left;
  margin: auto 0px;
}

.picture {
  width: 50%;
}
