.home-container {
  display: flex;
  flex-direction: column;
}

.home-card {
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-content-container {
  display: flex;
  width: 40%;
}

.home-content {
  text-align: left;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 36px;
  margin: 15px 0px;
}

.picture-container0 {
  width: 40%;
  text-align: right;
  display: block;
  margin: auto;
}

.picture-container1 {
  width: 40%;
  text-align: left;
  display: block;
  margin: auto;
}

.picture {
  width: 50%;
}
