.projects-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  min-width: 800px;
  width: 100%;
  height: 240px;
  margin: auto;
  
  background-color: rgba(205, 202, 202, 0.4);
  border-radius: 9px;
  display: flex;
}

.project-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.project-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;
  
  color: #000000;
  height: 20%;
  margin: 10px 0px;
}

.project-abstract {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #000000;
  height: 30%;
  margin: 10px 0px;
}

.project-buttons {
  min-width: 250px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-button {
  text-align: center;
  width: 50%;
  height: 30px;
  margin: 2% auto;

  background: #C8DAFE;
  border-radius: 5px;
  
  line-height: 30px;
}

.project-button-text {
  color: #000000;
  text-decoration: none;
}
