.container {
  margin: 3vh 0;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navigationBar {
  width: min(80%, 1440px);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fdfdfd;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
