.container {
  padding-top: 2vh;
  min-height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  width: min(80%, 1440px);
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: #fdfdfd;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigationBar {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button {
  height: 107px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonText {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}
