.header-container {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  width: min(80%, 1440px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: #fdfdfd;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button {
  height: 130px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.button-text {
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}
