.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  display: flex;
  align-items: center;

  color: #000000;
  height: 20%;
  margin: 10px 0px;
}

.titleText {
  text-decoration: none;
  color: #000000;
}

.abstract {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;

  color: #000000;
  height: 30%;
  margin: 10px 0px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  max-width: 200px;
  text-align: center;
  margin: 5px 40px;

  background: #c8dafe;
  border-radius: 5px;

  line-height: 35px;
}

.buttonText {
  color: #000000;
  text-decoration: none;
  margin: 2px 40px;
  font-size: 20px;
  line-height: 30px;
}
