.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #feecc8;
}

.footerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min(80%, 1440px);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 320px;
  margin: 0px;
}
.icon {
  width: 50px;
  height: 50px;
  margin: 15px;
}

.contact {
  width: 450px;
  display: flex;
  flex-direction: row;
}

.contactUrl {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18 px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-left: 35px;
  text-decoration: none;
}

.fa {
  font-size: 50px;
}
