.App {
  height: 100%;
  background: #fdfdfd;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
