.App {
  min-height: 100vh;
  height: 100%;
  background: #fdfdfd;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.app-container {
  margin: auto;
  width: min(80%, 1440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #fdfdfd;
}
